<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Etsy Bills</title>
  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <div>
    <header>Etsy</header>
    <select name="sort" id="">
      <option value="low-price">Lowest Price</option>
      <option value="high-price">High Price</option>
      <option value="relevency">Relevency</option>
    </select>

  </div>
  <div class="basediv">
    <ul class="items-list"></ul>
    <script type="text/template" data-template-name="billsListing">
      <a href="<% pictureLink %>"><img src="<% images %>" alt="">
<ul class="items-list"></ul>
  <li> <% title %> </li>
  <li> <% price %> </li>
  <li> <% shop %> </li>
</a>
    </script>
  </div>

  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="data.js"></script>
  <script type="text/javascript" src="main.js"></script>
</body>


<!-- <h2>Oscar</h2>
<div class="grid">
  <figure class="effect-oscar">
    <img src="img/9.jpg" alt="img09"/>
    <figcaption>
      <h2>Warm <span>Oscar</span></h2>
      <p>Oscar is a decent man. He used to clean porches with pleasure.</p>
      <a href="#">View more</a>
    </figcaption>
  </figure>
</div>





 -->




</html>
